<div class="contents row">
  <div class="container">
    <h3>編集する</h3>
    <%= form_with(model: @will, local: true) do |form| %>
      <%= form.text_field :will_address, placeholder: "宛名" %>
      <%= form.text_field :image, placeholder: "画像 URL" %>
      <%= form.text_area :content, placeholder: "遺書内容", rows: "10" %>
      <%= form.submit "保存する" %>
    <% end %>
  </div>
</div>


