<%# <div class="contents row"> %>
  


<%= form_with(url: search_articles_path, local: true, method: :get, class: "search-form") do |form| %>
  <%= form.text_field :keyword, placeholder: "検索ワードがタイトルに含まれているとヒットします", class: "search-input article-index-form" %>
  <%= form.submit "検索", class: "search-btn" %>
<% end %>


<div class="main-icon">
  <div class="popular-icon">
    <!-- <img src="image/23265114.jpg" class="popular-picture"> -->
    <p class="popular-text">人気</p>
  </div>
  <div class="view_history-icon">
    <!-- <img src="image/view_history.jpg" class="view_history-picture"> -->
    <p class="view_history-text">閲覧履歴</p>
  </div>
  <div class="favorite-icon">お気に入り</div>
  <div class="sorting-icon">並べ変え</div>
</div>


<div class="main-articles">
  <div class="article-box">
    <h1 class ="sankaku-top">▲</h1>
    <h1 class ="sankaku-down">▼</h1>
    <div class="index-articles">
      <% @articles.each do |article| %>
        <%= link_to article_path(article.id), method: :get do %>
          <div class="content_post">
            <h4 class="article-user"><%= article.user.nickname%> ：<%= article.created_at%></h4><h4>
            <p class="article-title">『<%= article.title %>』</p>
            <p class="article-content">　<%= article.content %></p>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
