<div class="contents row">
  <div class="container">
    <h3>記事を投稿する</h3>
    <%= form_with(model: @article, local: true) do |form| %>
    <%# form_with(model: @article, url: new_article_path, local: true) do |form| %>
    <%# form_with model: @user, url: user_registration_path, class: 'registration-main', local: true do |f| %>
    <%= render 'devise/shared/error_messages', model: form.object %>

      <%= form.text_field :title, placeholder: "タイトル" %>
      <%= form.text_field :image, placeholder: "画像 URL" %>
      <%= form.text_area :content, placeholder: "記事内容", rows: "10" %>
      <%= form.submit "投稿する" %>
    <% end %>
  </div>
</div>