<div class="contents row">
  <div class="content_post" style="background-image: url(<%= @article.image %>);">
    <div class="more">
      <span><%= image_tag 'arrow_top.png' %></span>
      <ul class="more_list">
        <li>
          <%# link_to '編集', edit_tweet_path(@tweet.id), method: :get %>
        </li>
        <li>
          <%# link_to '削除', tweet_path(@tweet.id), method: :delete %>
        </li>
      </ul>
    </div>
    <p><%= @article.content %></p>
    <span class="name"><%= @article.title %></span>
  </div>
</div>

<div class="show-btns">
    <%# if user_signed_in? %>
      <%# if current_user.id == @item.user_id %>
        <%# unless @item.order.present? %>
          <div class="ppoi">
            <%= link_to '商品の編集', edit_article_path(@article.id), method: :get, class: "article-edit-btn" %>
          </div>
          <div class='or-text'>or</div>
          <div class="ppoi">
            <%= link_to '削除', article_path(@article.id), method: :delete, class:'article-destroy-btn' %>
          </div>
        <%# end %>
      <%# end %>
    <%# end %>
</div>