<div class="show-article">
  <div class="show-article-box">
        <%# <div class="content_post" style="background-image: url(<%= article.image %>
          <h1 class="show-article-user"><%= @article.user.nickname %></h1>
          <p class="show-article-title">『<%= @article.title %>』</p>
          <%= @article.content %>
        <%# </div> %>
  </div>
</div>

<div class="show-btns">
    <% if user_signed_in? %>
      <% if current_user.id == @article.user_id %>
        <%# unless @article.order.present? %>
          <div class="ppoi">
            <%= link_to '商品の編集', edit_article_path(@article.id), method: :get, class: "article-edit-btn" %>
          </div>
          <div class='or-text'>or</div>
          <div class="ppoi">
            <%= link_to '削除', article_path(@article.id), method: :delete, class:'article-destroy-btn' %>
          </div>
        <%# end %>
      <% end %>
    <% end %>
</div>