<!DOCTYPE html>
<html>
  <head>
    <title>WillApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <header class="header">
        <div class="wipp-box">
          <h1 class="will-btn"><a href="/">Will_APP</h1>
        </div>
        <div class="header__bar row">
          <h1 class="grid-6 post-3"><a href="/">終活掲示板</a></h1>
          <% if user_signed_in? %>
            <div class="user_nav grid-6">
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "post-1" %>
              <%= link_to "投稿する", new_article_path, class: "post-2" %>
            </div>
          <% else %>
            <div class="grid-6">
              <%= link_to "ログイン", new_user_session_path, class: "post-1" %>
              <%= link_to "新規登録", new_user_registration_path, class: "post-2" %>
            </div>
          <% end %>
          <div class="mypage-btn">
            <% if user_signed_in? %>
              <%= link_to "〇〇さん、こんにちは", "/users/#{current_user.id}", class: "" %>
            <%# link_to "さん、こんにちは", "/users/#{current_user.id}", class: "post" %>
            <%# link_to "マイページ", "/users/#{current_user.id}" %>
            <% end %>
          </div>
        </div>
      </header>
      <%= yield %>
      <footer>
        <div class="footer_text">
          Are you already written a will?
        </div>
        <div class="footer_name">
          AIjax,LTD 
        </div>
      </footer>
  </body>
</html>
